{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% trans "Designers at GeoRemindMe community" %}{%endblock%}

{% block breadCumbMenu %}
    <span class="maqnav">></span>
    <a href="http://team.georemindme.com">{% trans "Community" %}</a>
    <span class="maqnav">></span>
    <span class="maqnav">{% trans "Designers" %}</span>
{% endblock %}  

{% block content %}

	<article style="text-align:left;" id="community-content"> 
		
		<section class="community-box"> 
            <h3 id="design" class="menu-icons">{% trans "Designing" %}</h3>
            <p>{% trans "We are always working to have a better looking, because all of us knows, <strong>the graphic design and the interaction design are key to ensure an unforgettable experience</strong>" %}.</p>
            <p>{% trans "Because of that we are always testing new things, measuring common behaviors and asking to our users to know what can be improved to improve it" %}.</p>
            <p>{% trans "If you are interested in collaborating with us, please feel welcome and <a href='https://teambox.com/public/georemindme-2/'>join</a> the community." %}.</p>
            <p>{% trans "Meet <a href='https://teambox.com/public/georemindme-2/designing'>here some designers and front-end developers</a> that has been working with us" %}.</p>
            <p id="invitation-request"><a href='https://teambox.com/public/georemindme-2/'>{% trans "Join now" %}</a>.</p>
        </section>
		
		<section class="community-box"> 
            <h3 id="developers" class="menu-icons">{% trans "Contributions gallery" %}</h3> 
			<div class="center"><embed type="application/x-shockwave-flash" src="https://picasaweb.google.com/s/c/bin/slideshow.swf" width="400" height="267" flashvars="host=picasaweb.google.com&captions=1&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2Fhhkaos%2Falbumid%2F5617984040091984097%3Falt%3Drss%26kind%3Dphoto%26hl%3Den_US" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed></div>
        </section>
		
	</article>  

{% endblock %}

