{% extends 'layout.html' %}


{% block content %}

	<article style="text-align:left;" id="community-content"> 
		<section class="community-box"> 
			<h3 id="presentation" class="menu-icons">{% trans "Introduction" %}</h3> 
			<p>{% trans "<strong>GeoRemindme has a strong and happy community of contributors</strong> were everyone is helping to create a better experience. We like working all together as a team, that's why we host <a href=\"http://www.flickr.com/groups/1620000@N25/pool/with/5614194428/\">hackathons</a> pretty often, were we learn about new technologies, free software and (of course) have a great time." %}</p>
			<p>{% trans "Are you interested in joining the community? We are a <a href=\"http://dev.georemindme.com/licensing\">open software project</a>, learn more about how you can contribute here and choose from the list below where you will be more comfortable collaborating on:" %}</p>
			<ul id="contribution-types">
				<li id="localization" class="menu-icons"><a href="localization/">{% trans "Localizing (translating)" %}</a></li>
				<li id="developers" class="menu-icons"><a href="http://dev.georemindme.com">{% trans "Developing" %}</a></li>
				<li id="design" class="menu-icons"><a href="design/">{% trans "Designing" %}</a></li>
				<li id="local-groups" class="menu-icons"><a href="local-groups/">{% trans "Creating an local group" %}</a></li>
			</ul>
			<p>{% trans "We don't want you to feel alone while collaborating, so you will be <strong>in touch with a mentor</strong> from the GeoRemindMe team or an older member of the community that will guide your first steps and progress and will answer your questions." %}</p>
			<p>{% trans "Further questions? Please feel free to <a href="https://teambox.com/public/georemindme-2">contact us</a> and have a look at our <a href="https://github.com/GeoRemindMe/GeoRemindMe_Web/wiki/FAQ">wiki-FAQ</a>" %}</p>
		</section>	
		
		<section class="community-box"> 
			<h3 id="photos" class="menu-icons">{% trans "Community pictures" %}</h3>
			<div id="photos-canvas"><object width="400" height="300"> <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fgroups%2F1620000%40N25%2Fpool%2Fshow%2F&page_show_back_url=%2Fgroups%2F1620000%40N25%2Fpool%2F&group_id=1620000@N25&jump_to=&start_index="></param> <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=104087"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=104087" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fgroups%2F1620000%40N25%2Fpool%2Fshow%2F&page_show_back_url=%2Fgroups%2F1620000%40N25%2Fpool%2F&group_id=1620000@N25&jump_to=&start_index=" width="400" height="300"></embed></object></div>
			<p>{% trans "Do you have more community pictures and would like to share them? <a href=\"http://www.flickr.com/groups_join.gne?id=1620000@N25\">Join the group</a> and upload them!" %}</p>
		</section>	
		
	</article>  

{% endblock %}
