{% extends 'layout.html' %}


{% block content %}

	<article style="text-align:left;" id="community-content"> 
		
		
		<section class="community-box"> 
			<h3 id="local-groups" class="menu-icons">Official local groups</h3> 
            <p>Local groups is another way to take part of the community. Consiste en crear una comunidad en localidad desde el que poder utilizar GeoRemindme de diferentes maneras:</p>
            <ul>
				<li>Como herramienta de promoción local</li>
				<li>Para organizar quedadas e ir a explorar nuevas zonas de la ciudad</li>
				<li>etc.</li>
            </ul>
            <p>Si quieres crear un grupo official en tu localidad, avísanos e intentaremos ayudar y ponerte en contacto con otras personas de tu localidad interesadas.</p>
        </section>	
		<section class="community-box"> 
            <h3 id="developers" class="menu-icons">Tools</h3>
            
            
        </section>
		
	</article>  

{% endblock %}
