{% extends "base.html" %}

{% load i18n %}

{%block extra_css%}
	<link rel="stylesheet" href="/media/style/easySlider.css" type="text/css" media="screen, projection" />
{%endblock%}

{%block extra_js%}
	<script type="text/javascript" src="/media/js/easySlider1.5.js"></script>


	<script type="text/javascript">
	   
	$(document).ready(function(){
		$("#slider").easySlider({
			controlsFade: false,
			
		});
		
	   
	   {% if login%}setTimeout(function(){$('#signinBtn').click();},500);{%endif%}
	});
	</script>
{%endblock%}


{%block tooltipLogo%}{%endblock%}

{% block login %} {%endblock%}

{%block section%}id="private-beta"{%endblock%}
{% block content %}

   <div id="description">
      <h2>{% trans "GeoRemindMe allows you to manage, rate and share geolocated suggestions on <em>your favorite social networks</em>." %}</h2>
     
     <ul id="benefits">
		<li id="whatsup-icon">{% trans "<strong>Find</strong> cool stuff to do" %}.</li>
		<li id="explore-icon">{% trans "<strong>Discover</strong> and explore new places" %}.</li>
		<li id="reminder-icon">{% trans "<strong>Don't forget</strong> anything you wanted to do" %}.</li>
     </ul>
    
      
		<span id="description-list">
			
			<p>{% trans "GeoRemindme allows you to:" %}:</p>
			<div id="slider-container">
				<div id="slider">
					<ul>
						<li id="share-icon"><span class="slide-icon">{% trans "<strong>Share and receive suggestions</strong> from your friends, institutions, local shops, etc..." %}</span></li>
						<li id="customize-icon"><span class="slide-icon">{% trans "Get <strong>personalized suggestions</strong> depending on what you like and were you are" %}</span></li>
						<li id="search-icon"><span class="slide-icon">{% trans "<strong>Search and filter</strong> suggestions from other people" %}.</span></li>
						<li id="suscription-icon"><span class="slide-icon">{% trans "<strong>Follow</strong> the users and the shops you are interested in" %}.</span></li>
						<li id="print-icon"><span class="slide-icon">{% trans "<strong>Download or print</strong> touristic routes and get around in the city" %}.</span></li>
						<li id="rate-icon"><span class="slide-icon">{% trans "<strong>Rate and comment</strong> the suggestions" %}.</span></li>
						<li id="checkin-icon"><span class="slide-icon">{% trans "And in the future...we want you to get <strong>promos and vouchers</strong> to enjoy wherever you are" %}.</span></li>
					</ul>
				</div>
			</div>
			<div id="know_more" class="clear">
				<form id="subscription-form" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('{% trans "http://feedburner.google.com/fb/a/mailverify?uri=GeoRemindMe" %}', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">{% trans "Keep me updated!" %} 
					<p>{% trans "Enter your email address to be notified when a new version is released" %}</p>
					<input type="text" id="subscribe-rss" placeholder="email" name="email"/><input type="hidden" value="GeoRemindMe" name="uri"/>
					<input type="hidden" name="loc" value="{% trans "en_US" %}"/><input type="submit" value="{% trans "Sign me up!" %}" />
					<p class="text-align-center">{% trans "No spam. We promise." %}</p>
				</form> 
			</div>
			
			<p id="p-compatible">{% trans "Compatible with" %}:</p>
			<ul id="compatible">
				<li id="fb-compatible"><span>Facebook</span></li>
				<li id="twitter-compatible"><span>Twitter</span></li>
				<li id="gcal-compatible"><span>Google calendar</span></li>
			</ul>
      </span>
   </div>

  	<div id="form-invitation-request" class="caja-arriba">
      <p class="new_msg"><a href="/knowmore" title="{% trans "Screenshots, licenses, versions, etc."%}" accesskey="m">{% trans "Learn more about"%}</a>{% trans " the project:"%}</p>
      <p><a href='/knowmore/#available-versions' class="right-arrow">{% trans "Available Versions" %}</a></p>
      <p><a href='/knowmore/#community' class="right-arrow">{% trans "The GeoRemindMe Community" %}</a></p>
   </div>

	<div id="form-invitation-request" class="caja-abajo">
      <p class="new_msg">{% trans "Now <strong>testing</strong>"%}</p>
      <p>{% trans "Would you like to help us with beta testing? <strong>Request an invitation</strong> and we will send you the details:" %}</p>
      <p id="invitation-request"><a href="https://spreadsheets.google.com/viewform?formkey=dEFPeHBiSktzeFluM3dRQnNvVnFCUXc6MQ" accesskey="i">{% trans "Request invitation"%}</a></p>
   </div>  

{%endblock%}

