{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Partners - GeoRemindMe" %}{%endblock%}

{% block login %} {%endblock%}

{%block section%}id="know-more"{%endblock%}

{%block breadcumb%}
   <nav> 
      <a href="/">{% trans "Home" %}</a> 
      <span class="maqnav">></span> 
      <h1>{% trans "Partners" %}</h1> 
   </nav>
{%endblock%}
   

{%block content%}

   <div id="col-left">
      <!-- Content index with animated scroll-->
      <ul id="content-index">
         <li><a href="#know-more" class="anchor separator" id="back-to-top">{% trans "Back to top" %}</a></li>
         <li><a href="#ugr" class="anchor separator">University of Granada</a></li>
      </ul>
      <!-- En content index-->
   </div>
   <section id="col-right">
     
      <article class="content-box" id="ugr">
         <div>
         <h2>{% trans 'University of Granada' %}</h2>
         <div class="center"><img src="/media/img/partners/logo_ugr.jpg" alt="UGR Logo"></div>
         <p>{% trans 'La <a href="http://internacional.ugr.es/">Office for International Relations</a> of the <a href="http://www.ugr.es">University of Granada</a> uses GeoRemindMe so that over 2.000 exchange students every year can enjoy a better experience abroad.' %}.</p>
         <p>{% trans 'Thanks to GeoRemindMe the students have a new way of being in touch with their mentors (buddy programme), getting useful information from the University and sharing suggestions with their friends.' %}.</p>
         <p>{% trans '<a href="#">Press release</a>' %}</p>
         <p><a href="#know-more" class="back-to-top">{% trans "Back to top" %}</a></p>
         </div>
      </article>
      
      
   
   </section>
{%endblock%}
