{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Partners - GeoRemindMe" %}{%endblock%}

{% block extra_js %}
<script type="text/javascript" src="/media/js/static.js"></script> 

<!-- Loading lightbox plugin--> 
<script type="text/javascript" src="/media/js/jquery.lightbox-0.5.js"></script> 
<link rel="stylesheet" type="text/css" href="/media/style/jquery.lightbox-0.5.css" media="screen" /> 
 <script type="text/javascript"> 
    $(function() {
        $('.screenshots a').lightBox();
        
           $('input[type=submit]').click(function(e){
               e.preventDefault();
               
               if (!echeck($('#user-email').val()))
               {
                    $("#wait-mask").hide();
                    $('#sentMsg').removeClass("msgOK").addClass("msgNoOK");$('#sentMsg span').text("{% trans "Email wrong" %}");
                    return;
                }
               
               $("#wait-mask").show();
               $.ajax({
                   url: AJAX_URL+"keep-up-to-date/",
                   type: "post",
                   data: $("#form-keep-up-to-date").serialize(),
                   async:true,
                   success: function(){ $("#wait-mask").hide(); $('#sentMsg').removeClass("msgNoOK").addClass("msgOK");$('#sentMsg span').text("{% trans "Message sent succesfully!" %}");$('#msg,#userEmail').val('');},
                   error: function(){ $("#wait-mask").hide(); $('#sentMsg').removeClass("msgOK").addClass("msgNoOK");$('#sentMsg span').text("{% trans "Error sending the message" %}");}           
                   });
            
        });
    });
 </script> 
{%endblock%}

{%block section%}id="know-more"{%endblock%}

{%block breadcumb%}
   <nav> 
      <a href="/">{% trans "Home" %}</a> 
      <span class="maqnav">></span> 
      <h1>{% trans "Partners" %}</h1> 
   </nav>
{%endblock%}
   

{%block content%}

   <div id="col-left">
      <!-- Content index with animated scroll-->
      <ul id="content-index">
         <li><a href="#know-more" class="anchor separator" id="back-to-top">{% trans "Back to top" %}</a></li>
         <li><a href="#ugr" class="anchor separator">Universidad de Granada</a></li>
      </ul>
      <!-- En content index-->
   </div>
   <section id="col-right">
     
      <article class="content-box" id="ugr">
         <div>
         <h2>Universidad de Granada</h2>
         <div class="center"><img src="/media/img/partners/logo_ugr.jpg" alt="UGR Logo"></div>
         <p>La <a href="http://internacional.ugr.es/">Oficina de Relaciones Internacionales</a> de la <a href="http://www.ugr.es">Universidad de Granada</a> utiliza GeoRemindMe para que cada año sus más de 2.000 estudiantes de intercambio puedan aprovechar al máximo su experiencia.</p>
         <p>Gracias a GeoRemindMe los alumnos ahora tienen una nueva forma de comunicarse con sus mentores, de recibir información de la universidad y de compartir recomendaciones con sus compañeros.</p>
         <p><a href="#">Nota de presa</a></p>
         <p><a href="#know-more" class="back-to-top">{% trans "Back to top" %}</a></p>
         </div>
      </article>
      
      
   
   </section>
{%endblock%}
