{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Partners - GeoRemindMe" %}{%endblock%}

{% block login %} {%endblock%}

{%block section%}id="know-more"{%endblock%}

{%block breadcumb%}
   <nav> 
      <a href="/">{% trans "Home" %}</a> 
      <span class="maqnav">></span> 
      <h1>{% trans "Partners" %}</h1> 
   </nav>
{%endblock%}
   

{%block content%}

   <div id="col-left">
      <!-- Content index with animated scroll-->
      <ul id="content-index">
         <li><a href="#know-more" class="anchor separator" id="back-to-top">{% trans "Back to top" %}</a></li>
         <li><a href="#ugr" class="anchor separator">Universidad de Granada</a></li>
      </ul>
      <!-- En content index-->
   </div>
   <section id="col-right">
     
      <article class="content-box" id="ugr">
         <div>
         <h2>{% trans 'Universidad de Granada' %}</h2>
         <div class="center"><img src="/media/img/partners/logo_ugr.jpg" alt="UGR Logo"></div>
         <p>{% trans 'La <a href="http://internacional.ugr.es/">Oficina de Relaciones Internacionales</a> de la <a href="http://www.ugr.es">Universidad de Granada</a> utiliza GeoRemindMe para que cada año sus más de 2.000 estudiantes de intercambio puedan aprovechar al máximo su experiencia' %}.</p>
         <p>{% trans 'Gracias a GeoRemindMe los alumnos ahora tienen una nueva forma de comunicarse con sus mentores, de recibir información de la universidad y de compartir recomendaciones con sus compañeros' %}.</p>
         <p>{% trans '<a href="#">Nota de presa</a>' %}</p>
         <p><a href="#know-more" class="back-to-top">{% trans "Back to top" %}</a></p>
         </div>
      </article>
      
      
   
   </section>
{%endblock%}
