{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "GeoRemindMe Sitemap" %}{%endblock%}

{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="/media/style/common.css" media="screen" /> 
	<link rel="stylesheet" href="/media/style/jquery.treeview.css" type="text/css" />
{%endblock%}

{% block login %} {%endblock%}

{% block extra_js %}

	<script type="text/javascript" src="/media/js/jquery.treeview.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#list-tree").treeview({collapsed: true});
		});
	</script>

	<script type="text/javascript">
	function checkFields()
	{
		if (echeck($('#userEmail').val()) && $('#msg').val())
		{
			emailOK=passOK=true;
			renderStartBtn();
		}
		else
		{
			emailOK=passOK=false;
			renderStartBtn();
		}
		
	}
	$(document).ready(function(){
		$('#msg,#userEmail').one('focus',function(){$(this).val('');});
		
		$('#startBtn').click(function(e){
		   e.preventDefault();
		   $("#wait-mask").show();
		   $.ajax({
			   url: AJAX_URL+"contact/",
			   type: "post",
			   data: $("form").serialize(),
			   async:true,
			   success: function(){ $("#wait-mask").hide(); $('#sentMsg').removeClass("msgNoOK").addClass("msgOK");$('#sentMsg span').text("{% trans "Message sent succesfully!" %}");$('#msg,#userEmail').val('');},
			   error: function(){ $("#wait-mask").hide(); $('#sentMsg').removeClass("msgOK").addClass("msgNoOK");$('#sentMsg span').text("{% trans "Error sending the message" %}");}           
			   });
			
		});
	});
	</script> 

{%endblock%}

{%block section%}id="contact-section"{%endblock%}

{%block breadcumb%}
   <nav> 
      <a href="/">{% trans "Home" %}</a> 
      <span class="maqnav">></span> 
      <h1>{% trans "Sitemap" %}</h1> 
   </nav>
{%endblock%}

{% block content %}

	<article style="text-align:left;" id="community-content"> 
		<section class="community-box"> 
			<h3 class="blue-chicken menu-icons">{% trans "Users" %}</h3> 
			<p>{% trans "Everything you always wanted to know about GeoRemindMe:" %}</p>
			<ul>
				<li>
					<a href="http://info.georemindme.com">{% trans "Home</a> ; Learn the basics about the project" %}
				</li>
				<li><a href="/knowmore/">{% trans "Further information" %}</a> ; {% trans "More details on the tool's features." %}</li>
<!--
				<li><a href="https://georemindme.appspot.com/">{% trans "Login" %}</a> ; {% trans "Tool Menu" %}</li>
-->
				<li><a href="http://blog.georemindme.com">{% trans "Blog" %}</a> ; {% trans "Keep up to date with GeoRemindMe latests news and progress." %}</li>
				<li><a href="http://help.georemindme.com">{% trans "Help / Support" %}</a> ; {% trans "Ask questions, share ideas, report problems, 	give praises." %}</li>
			</ul>
		</section>	
		
		<section class="community-box"> 
			<h3 id="Jobs" class=" menu-icons">{% trans "The start-up" %}</h3> 
			<p>{% trans "Everything about the people working on this amazing project:" %}</p>
			<ul>
				<li><a href="/team/">{% trans "Team" %}</a> ; {% trans "Meet our staff." %}.</li>
				<li><a href="http://jobs.georemindme.com">{% trans "Jobs" %}</a> ; {% trans "GeoRemindme is now hiring. Check out the positions availables." %}.</li>
				<li><a href="/contact/">{% trans "Contact" %}</a> ; {% trans "Get in touch with us" %}.</li>
				<li><a href="/partners/">{% trans "Collaborators" %}</a> ; {% trans "Institutions and companies we collaborate with." %}.</li>
				<li><a href="http://press.georemindme.com">{% trans "Press releases" %}</a> ; {% trans "Latests publications and press releases." %}.</li>
			</ul>
		</section>	
		<hr>
		<section class="community-box"> 
			<h3 id="Community" class="menu-icons">{% trans "GeoRemindMe Community" %}</h3>
			<p>{% trans "Meet the community of collaborators and friends of GeoRemindMe that are helping us keep getting stronger and bigger." %}.</p>
			<ul id="list-tree">
				<li><a href="http://www.flickr.com/groups/1620000@N25/pool/">{% trans "Pictures" %}</a> ; {% trans "Take a look at the community events pictures." %}.</li></li>
				<li><a href="https://teambox.com/projects/georemindme-2/">Teambox</a> ; {% trans "Online collaboration software for project management" %}.</li>
				<li><span class="folder"><a href="http://team.georemindme.com">{% trans "Volunteers" %}</a></span>
					<ul>
					<li>
					<span class="folder"><a href="http://dev.georemindme.com/android-developers">{% trans "Developers" %}.</a></span>
					<ul>
						<li>
							<span class="folder"><span>{% trans "Android developers" %}</span></span>
							<ul>
								<li><a href="http://dev.georemindme.com/android-developers">{% trans "Guide" %}</a> ; {% trans "Read this guide to learn how you can start collaborating today." %}.</li>
								<li><a href="https://teambox.com/public/georemindme-2/android-developers">{% trans "Collaborators" %}</a> ; {% trans "List of Android developers" %}.</li>
							</ul>
						</li>
						<li>
							<span class="folder"><span>{% trans "Web developers" %}</span></span>
							<ul>
								<li><a href="http://dev.georemindme.com/webdev/">{% trans "Guide" %}</a> ; {% trans "Read this guide to learn how you can start collaborating today" %}.</li>
								<li><a href="https://teambox.com/public/georemindme-2/web-developers">{% trans "Collaborators" %}</a> ; {% trans "List of Web developers" %}.</li>
							</ul>
						</li>
						
						<li><a href="https://github.com/georemindme">Github</a> ; {% trans "Version control system platform" %}.</li>
						<li><a href="http://api.georemindme.com/">{% trans "Public API" %}</a> ; {% trans "Documentation and usage examples." %}.</li>
						<li><a href="http://dev.georemindme.com/licensing/">{% trans "Licensing" %}</a> ; {% trans "Learn about how the GeoRemindMe code is licensed" %}.</li>
					</ul>
					<li>
						<span class="folder"><a href="http://team.georemindme.com/design/">{% trans "Designers" %}</span>
						<ul>
							<li><a href="https://picasaweb.google.com/hhkaos/GeoRemindMeContributionsGallery">{% trans "Gallery" %}</a> ; {% trans "Compilation of all the artwork created by the community" %}.</li>
						</ul>
					</li>
					<li>
						<span class="folder"><a href="http://team.georemindme.com/localization/">{% trans "Translators" %}</span>
						<ul>
							<li><a href="http://www.transifex.net/projects/p/georemindme/">Transifex</a> ; {% trans "Open Web service to collaboratively translate software, documentation..." %}.</li>
							<li><a href="https://teambox.com/public/georemindme-2/translating">{% trans "Framework for project management"%}</a> ; {% trans "Read this guide to learn how we manage the product developement" %}.</li>
						</ul>
					</li>
					</li>
					</ul>

				</li>
				
					
				
				</li>
				 
			 
				
			</ul>

		</section>	

		<section class="community-box"> 
			<h3 id="legal" class="menu-icons">{% trans "Legal" %}</h3> 
			<p>{% trans "We are committed to safeguarding the privacy of our tool users. Learn how we are doing this:" %}:</p>
			<ul>
				<li><a href="/privacy/">{% trans "Our privacy policy" %}</a> ; {% trans "How we manage your privacy." %}</li>
				<li><a href="/tos/">{% trans "Terms of service" %}</a> ; {% trans "Terms you must agree in order to use the tool." %}</li>
			</ul>
		</section>		
		
		
	</article>  
         
     
{%endblock%}
