{% extends 'content-table.html' %}


{% block contenttable %}

	<ul id="content-index"> 
		<li><a href="#documentation" class="anchor separator" id="back-to-top">{% trans 'Back to top' %}</a></li> 
		<li><a href="#about" class="anchor separator">{% trans 'About GeoRemindMe' %}</a></li> 
		<li><a href="#android-dev" class="anchor separator">{% trans 'Android Developer' %}</a></li> 
		<li><a href="#interface-designer" class="anchor separator">{% trans 'User Interface Designer' %}</a></li> 
		<li><a href="#web-dev" class="anchor separator">{% trans 'Web Developer' %}</a></li> 
		<a href="http://static.georemindme.com/images/georemindme_dude.jpg"><img src="http://static.georemindme.com/images/georemindme_dude.jpg" style="width:184px" alt="GeoRemindMe"/></a>
		<br>{% trans 'Author' %}: <a href="http://es.linkedin.com/pub/jose-luis-roz%C3%BAa-lucena/23/832/b71">José Luis Rozúa</a>
	 </ul> 
{% endblock %}

{% block content %}

	<article class="content-box"> 
		<div> 
            <h2 id="about">{% trans 'About GeoRemindMe' %}</h2>
            <p>{% trans 'En GeoRemindMe estamos deseando <strong>contratar a los mejores profesionales</strong>' %}.</p>

			<p>{% trans 'These are the technologies used to make this work' %}:</p>
			<ul>
				<li>{% trans 'Google's cloud:<a href="http://code.google.com/intl/es-ES/appengine/">App Engine</a>' %}.</li>
				<li>{% trans 'A web server created with <a href="https://www.djangoproject.com/">Python and Django</a>' %}.</li>
				<li>{% trans 'An <a href="http://developer.android.com/index.html">Android</a> application' %}.</li>
				<li>{% trans 'A <a href="http://developers.facebook.com/">Facebook application</a> that uses <a href="http://www.html5rocks.com/en/">HTML5</a> and <a href="http://www.css3.info/">CSS3</a>' %}.</li>
			</ul>
			
			<h2 id="job">{% trans 'Jobs' %}</h2> 
            <p>{% trans 'If you would like to be part of our team you should sound like someone who:' %}</p>
			<ul>
				<li>{% trans 'Has already contributed to an open software project' %}.</li>
				<li>{% trans 'Likes learning from your teammates' %}.</li>
				<li>{% trans 'Doesn't have "this can't be done" in your vocabulary' %}.</li>
				<li>{% trans 'Can't code without having a version control system, and you particularly like Git' %}.</li>
				<li>{% trans 'Upholds Scrum framework for project management' %}.</li>
				<li>{% trans 'is either a Mac or a Linux user (or both)' %}.</li>
				<li>{% trans 'Is fluent in english' %}.</li>
				<li>{% trans 'has lived abroad and enjoys travelling' %}.</li>
			</ul>

			<p>{% trans 'You should fit in one of this positions:' %}</p>
			<ul>
				<li><a href="#android-dev">{% trans 'Android Developer' %}.</a></li>
				<li><a href="#interface-designer">{% trans 'User Interface Designer' %}.</a></li>
				<li><a href="#web-dev">{% trans 'Web Developer' %}.</a></li>
			</ul>
            
            <p><a href="#documentation" class="back-to-top">{% trans 'Back to top' %}</a></p> 
		</div> 
	 </article> 
       
         
         
         
	 <article class="content-box"> 
		<div> 
		<h2 id="android-dev">{% trans 'Android Developer' %}</h2> 
		<p>{% trans 'If...' %}</p>
		<ul>
			
			<li>{% trans 'You have already worked on a project related with geolocation or an LBS' %}.</li>
			<li>{% trans 'You have experience building Android applications' %}.</li>
			<li>{% trans 'You have an app with more than 50k downloads and 4 or 5 star ratings' %}.</li>
			<li>{% trans 'You know StackOverflow like the back of your hand' %}.</li>
			
		</ul>
		<p>{% trans 'Please send your CV/resume/linkedIn and links to relevant projects worked on to jobs@georemindme.com' %}.</p>

		<p><a href="#documentation" class="back-to-top">{% trans 'Back to top' %}</a></p> 
		</div> 
	 </article> 
	 
	 
	 <article class="content-box"> 
		<div> 
		<h2 id="interface-designer">{% trans 'User Interface Designer' %}</h2>
		<p>{% trans 'If...' %}</p>
		<ul>
			<li>{% trans 'You have a working knowledge in web and/or mobile usability' %}.</li>
			<li>{% trans 'You have red Jakob Nielssen and Steve Krug work' %}.</li>
			<li>{% trans 'You are familiar with the concepts UX, usability test, A/B test, etc' %}.</li>
			<li>{% trans 'You have red the Android UX Guidelines' %}.</li>
			<li>{% trans 'You know how to do layouts and you have experience with HML5 and CSS3' %}.</li>
			<li>{% trans 'You understand why accessibility is important' %}.</li>
			<li>{% trans 'You are not afraid of Internet Explorer or cross-browsing' %}.</li>
			<li>{% trans 'You have a broad experience in this field' %}.</li>
		</ul>
		<p>{% trans 'Please send your CV/resume/linkedIn and links to relevant projects worked on to jobs@georemindme.com' %}</p>
		
		
		<p><a href="#documentation" class="back-to-top">{% trans 'Back to top' %}</a></p> 
		</div> 
	 </article>

	<article class="content-box"> 
		<div> 
		<h2 id="web-dev">{% trans 'Web Developer' %}</h2>
		<p>{% trans 'If...' %}</p>
		<ul>
			<li>{% trans 'You speak fluently Javascript and one of:Python/PHP' %}.</li>
			<li>{% trans 'You master Javascript and a framework like jQuery or Sencha' %}.</li>
			<li>{% trans 'You have already developed Facebook Apps' %}.</li>
			<li>{% trans 'You know your way with apache and any other web servers' %}.</li>
			<li>{% trans 'You know Ajax and JSON pretty well' %}.</li>
			<li>{% trans 'You know what SEO is about' %}.</li>
			<li>{% trans 'You have learned something about web semantics or used microformats' %}.</li>
		</ul>
		<p>{% trans 'Please send your CV/resume/linkedIn and links to relevant projects worked on to jobs@georemindme.com' %}.</p>
		<p><a href="#documentation" class="back-to-top">{% trans 'Back to top' %}</a></p> 
		</div> 
	 </article>
{% endblock %}
