{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% trans "Android Developers Guide - GeoRemindMe community" %}{%endblock%}


{% block breadCumbMenu %}
    <span class="maqnav">></span>
    <a href="http://team.georemindme.com">{% trans "Community" %}</a>
    <span class="maqnav">></span>
    <a href="http://dev.georemindme.com">{% trans "Developers" %}</a>
    <span class="maqnav">></span>
    <span class="maqnav">{% trans "Android developers" %}</span>
{% endblock %} 

{% block content %}

	<article style="text-align:left;" id="community-content"> 
	
		<section class="community-box"> 
            <h3 id="guide-icon" class="menu-icons">{% trans 'Web developers guide' %}</h3> 
            <ol>
				<li>
					<h4>{% trans 'Setting up the environment' %}</h4>

					<ol>
						<li>{% trans '<a href="https://github.com/GeoRemindMe/GeoRemindMe_Web/wiki/How-to-set-up-your-repository">Install and configure Git and Github</a> (on Ubuntu)' %}</li>
						<li>{% trans 'Create a fork of the repository' %}</li>
						<li>{% trans 'Install and configure Android SDK' %}</li>
						<li>{% trans 'Run a local server and deploy the application' %}</li>
					</ol>
				</li>
				<li>
					<h4>{% trans 'Introduction to GeoRemindMe workflow' %}</h4>

					<ol>
						<li>{% trans '<a href="/media/img/doc/style_guide_android.pdf">Coding style guide</a>' %}</li>
						<li>{% trans 'How to update languages' %}</li>
						<li>{% trans 'How to add a contribution' %}</li>
						<li>{% trans 'Generating docummentation' %}</li>
					</ol>
				</li>
				<li>

					<h4>{% trans 'Building new features' %}</h4>

					<ol>
						<li>{% trans 'Public API' %}</li>
						<li>{% trans 'GeoRemindMe Labs' %}</li>
						<li>{% trans 'Tutorials and code examples' %}</li>
					</ol>
				</li>
				<li>


					<h4>{% trans 'Android' %}</h4>
					<ol>
						<li>{% trans 'Documentation about the code' %}</li>
					</ol>
				</li>
			</ol>

        </section>
        
        <section class="community-box"> 
            <h3 id="photos" class="menu-icons">{% trans 'Quick overview' %}</h3>
            <p>{% trans 'This sketch explains some of the modules that make up the Android application:' %}</p>
            <a href="/media/img/doc/android-scheme.png"><img src="/media/img/doc/android-scheme_thumb.png" /></a>
            <p class="center"><em>{% trans 'Quick overview of the Android architecture (4th May 2011)' %}</em></p>
			
        </section>
		
        
		
	</article>  

{% endblock %}
