{% extends '../templates/layout.html' %}
{% load i18n %}

{% block title %}{% trans "Licensing - GeoRemindMe community" %}{%endblock%}

{% block breadCumbMenu %}
    <span class="maqnav">></span>
    <a href="http://team.georemindme.com">{% trans "Community" %}</a>
    <span class="maqnav">></span>
    <a href="http://dev.georemindme.com">{% trans "Developers" %}</a>
    <span class="maqnav">></span>
    <span class="maqnav">{% trans "Licenses" %}</span>
{% endblock %}    

{% block content %}

	<article style="text-align:left;" id="licensing-content"> 
		<section class="community-box"> 
			<h2 id="open-software" class="menu-icons">{% trans 'Open Software' %}</h2> 
			<p>{% trans 'Open Software means that the <strong>project is open in every sense of the word</strong>, meaning that anyone should feel free to <strong>contribute</strong>, as the code and images can be studied, distributed, copied and used without any aditional permission.' %}</p>
			
			<p>{% trans 'We believe that Open Software benefits all the parties involved.' %}</p>
			
			<h3 id="licensing-usuarios" class="menu-icons">{% trans 'Benefits for users' %}:</h3>
			<ol>
				<li>{% trans 'They can <strong>participate</strong> in the developement of the tool, making customization easier' %}.</li>
				<li>{% trans 'They can <strong>learn</strong> how to implement an app that involves geolocation and content sharing' %}.</li>
				<li>{% trans 'It guarantees a reliable code, as anyone can study how it works' %}.</li>
				<li>{% trans '<strong>Meet</strong> people in the world with common interests' %}.</li>
				<li>{% trans 'Learn about <strong>teleworking</strong>' %}.</li>
				<li>{% trans 'Your contributions to the tool can be <strong>included in your resume</strong>' %}.</li>
				<li>{% trans 'It guarantees that the <strong>app will remain active</strong>, no mater what hapens to our company or community: if we are not able to continue the project, some other group can take charge of it' %}.</li>
			</ol>

			<h3 class="menu-icons chicken">{% trans 'Benefits for our Start-Up' %}:</h3>
			<ol>
				<li>{% trans '<strong>A community of users</strong> willig to give us priceless customer <strong>feedback</strong>' %}.</li>
				<li>{% trans 'The community <strong>contributes</strong> to the project' %}.</li>
				<li>{% trans 'Bigger <strong>acknowledgement and media coverage</strong>of our work' %}.</li>
				<li>{% trans '<strong>Transparency</strong> and <strong>credibility</strong>' %}.</li>
				<li>{% trans 'We can hire <strong>talented people</strong> from our own community' %}.</li>
				<li>{% trans 'The Open Software World Wide Community<strong>supports</strong> our project' %}.</li>
				<li>{% trans 'The<strong>satisfaction</strong> of sharing knowledge and not only a service' %}.</li>
			</ol>
			 
		</section>	
		
		<section class="community-box"> 
			<h2 id="licensing" class="menu-icons">{% trans 'Licenses' %}</h2> 
			<p>{% trans 'This project has many contributions from our community. Not all of them share the same license, so we want to be specific and detailed on the licensing as we can' %}.</p>
		</section>	
		
		<section class="community-box"> 
			<h3 class="menu-icons android-app">{% trans 'Android application' %}</h3> 
			<p>{% trans 'Licenses' %}:</p>
			<ul>
				<li>{% trans 'The source code of the Android App is licensed under <a href="http://www.gnu.org/copyleft/gpl.html">GPL v3</a>' %}.</li>
				<li>{% trans 'The Icon set created by Mardigann are licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a>' %}.</li>
				<li>{% trans 'The Android icons are licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache license version 2.0</a>' %}.</li>
			</ul>
			<p>{% trans 'Find the <a href="https://github.com/GeoRemindMe/GeoRemindMe_Android">source code on Github</a>' %}.</p>
		</section>	
		
		<section class="community-box"> 
			<h3 class="menu-icons facebook-app">{% trans 'Facebook application' %}</h3> 
			<p>{% trans 'Licenses' %}:</p>
			<ul>
				<li>{% trans 'The source code of the Facebook App is licensed under  <a href="http://www.fsf.org/licensing/licenses/agpl-3.0.html">AGPL v3</a>' %}</li>
			</ul>
			<p>{% trans 'Find the <a href="https://github.com/GeoRemindMe/GeoRemindMe_Web">source code on Github</a>' %}.</p>
		</section>	
		
		<section class="community-box"> 
			<h3 class="menu-icons  web-project">{% trans 'Project website' %}</h3> 
			<p>{% trans 'Licenses' %}:</p>
			<ul>
				<li>{% trans 'The source code is licensed under  <a href="http://www.fsf.org/licensing/licenses/agpl-3.0.html">AGPL v3</a>' %}.</li>
				<li>{% trans 'jQuery, accept <a href="http://jquery.org/license/">GPL and MIT licenses</a>' %}.</li>
				<li><a href="http://cssglobe.com/post/4004/easy-slider-15-the-easiest-jquery-plugin-for-sliding">Easyslider.js</a></li>
				<li><a href="http://code.google.com/p/googleappengine/">Google App Engine</a> {% trans 'under' %} <a href="http://code.google.com/p/googleappengine/">{% trans 'Apache license version 2.0' %}</a>.</li>
			</ul>
			<p>{% trans 'Graphic design licensing' %}:</p>
			<ul>
				<li>Dryicons Icons {% trans 'under' %} <a href="http://dryicons.com/terms/free/"> {% trans 'their free license agreement' %}</a>.</li>
				<li><a href="http://somerandomdude.com/projects/iconic/">Iconic Pack</a>, {% trans 'licensed as <a href="http://creativecommons.org/licenses/by-sa/3.0/us/">CC Attribution-Share Alike 3.0</a> & <a href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL">OFL</a>' %}.</li>
				<li>{% trans 'L4D1S designs & icons under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a>' %}.</li>
			</ul>
			<p>{% trans 'Find the <a href="https://github.com/GeoRemindMe/GeoRemindMe_Web">source code on Github</a>' %}.</p>
		</section>	
	
		
	</article>  

{% endblock %}
