{% extends 'layout.html' %}


{% block content %}

	<article style="text-align:left;" id="licensing-content"> 
		<section class="community-box"> 
			<h2 id="open-software" class="menu-icons">Open Software</h2> 
			<p>Esto quiere decir que <strong>el proyecto es abierto</strong> en el amplio sentido de la palabra,
			significa que es <strong>abierto a la colaboración</strong>, que el código y las imágenes se pueden estudiar, distribuir, copiar y usar sin ningún permiso adicional. La única obligación 
			a las que se está sometido es a las correspondientes obligaciones de la licencia aplicable a cada material. Para ello se indican las distintas licencias usadas en el software usado.</p>
			
			<p>Nosotros verdaderamente creemos que el Software Abierto ofrece ventajas a todas las partes.</p>
			
			<h3 id="licensing-usuarios" class="menu-icons">Ventajas que obtienen los usuarios:</h3>
			<ol>
				<li>Pueden <strong>participar</strong> en la mejora de la herramienta, haciendo más fácil la personalización de la misma.</li>
				<li>Permite a los interesados en <strong>aprender</strong> como realizar una herramienta de estas características.</li>
				<li>Ofrece una <strong>garantía de seguridad</strong> tangible ya que se puede estudiar como funciona el código.</li>
				<li><strong>Conocer</strong> a personas de distintas partes del mundo con intereses comunes.</li>
				<li>Aprender <strong>trabajar en remoto</strong> con otras personas.</li>
				<li>Reconocimiento de las contribuciones lo que permite <strong>sumar cosas al CV</strong>.</li>
				<li>Ofrecer una garantía de <strong>perdurabilidad</strong>, ya que si en cualquier momento la empresa dejase de existir cualquier otra persona podría volver a lanzar la herramienta.</li>
			</ol>

			<h3 class="menu-icons chicken">Ventajas que obtenemos como proyecto:</h3>
			<ol>
				<li><strong>Comunidad de usuarios</strong> dispuestos a dar un <strong>mayor feedback</strong>.</li>
				<li><strong>Contribuciones</strong> por parte de la comunidad.</li>
				<li><strong>Reconocimiento y mayor difusión</strong> de nuestro trabajo.</li>
				<li><strong>Transparencia</strong> y por tanto <strong>credibilidad</strong>.</li>
				<li>Posibilidad de <strong>encontrar empleados</strong> dentro de la propia comunidad.</li>
				<li><strong>Apoyos</strong> por parte de la comunidad de software libre.</li>
				<li>La <strong>satisfacción</strong> de ofrecer no solo un servicio, sino también conocimiento.</li>
			</ol>
			 
		</section>	
		
		<section class="community-box"> 
			<h2 id="licensing" class="menu-icons">Licenses</h2> 
			<p>Este proyecto está lleno de contribuciones, y cada una de ellas tiene su propia licencia, por lo que intentaremos describir aquí la gran mayoría de ellas si no todas.</p>
		</section>	
		
		<section class="community-box"> 
			<h3 class="menu-icons android-app">Android application</h3> 
			<p>The licenses are:</p>
			<ul>
				<li>El código fuente de la aplicación Android está licenciada bajo <a href="http://www.gnu.org/copyleft/gpl.html">GPL v3</a>.</li>
				<li>Set de iconos del dashboard creados por Mardigann tienen licencia <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a>.</li>
				<li>Los iconos de Android están licenciados bajo la <a href="http://www.apache.org/licenses/LICENSE-2.0">Licencia 2.0 de Apache</a>.</li>
			</ul>
			<p>You can find the <a href="https://github.com/GeoRemindMe/GeoRemindMe_Android">source code on Github</a>.</p>
		</section>	
		
		<section class="community-box"> 
			<h3 class="menu-icons facebook-app">Facebook application</h3> 
			<p>Las licencias son:</p>
			<ul>
				<li>El código fuente de la está licenciadp bajo <a href="http://www.fsf.org/licensing/licenses/agpl-3.0.html">AGPL v3</a></li>
			</ul>
			<p>You can find the <a href="https://github.com/GeoRemindMe/GeoRemindMe_Web">source code on Github</a>.</p>
		</section>	
		
		<section class="community-box"> 
			<h3 class="menu-icons  web-project">Project website</h3> 
			<p>Las licencias de las diferentes fuentes del código son:</p>
			<ul>
				<li>El código fuente está licenciado bajo <a href="http://www.fsf.org/licensing/licenses/agpl-3.0.html">AGPL v3</a>.</li>
				<li>jQuery, accept <a href="http://jquery.org/license/">GPL and MIT licenses</a></li>
				<li><a href="http://cssglobe.com/post/4004/easy-slider-15-the-easiest-jquery-plugin-for-sliding">Easyslider.js</a></li>
				<li><a href="http://code.google.com/p/googleappengine/">Google App Engine</a>, under <a href="http://code.google.com/p/googleappengine/">Apache License 2.0</a></li>
			</ul>
			<p>A continuación las licencias sobre el material gráfico:</p>
			<ul>
				<li>Iconos de Dryicons bajo <a href="http://dryicons.com/terms/free/">su licencia libre</a>.</li>
				<li><a href="http://somerandomdude.com/projects/iconic/">Iconic Pack</a>, licensed as <a href="http://creativecommons.org/licenses/by-sa/3.0/us/">CC Attribution-Share Alike 3.0</a> & <a href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL">OFL</a>.</li>
				<li>L4D1S desgins & icons under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a>.</li>
			</ul>
			<p>You can find the <a href="https://github.com/GeoRemindMe/GeoRemindMe_Web">source code on Github</a>.</p>
		</section>	
	
		
	</article>  

{% endblock %}
